$tippiq-green: #60cda2;
$font-size-base: 16px;
$line-height-base: 24px;
$body-background-color: #f3f3f3;
$color-outer-content: #333333;
$font-size-footer-outer-content: 10px;
$font-size-tip: 12px;
$font-color-card: #333333;
