@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../theme/pre-bootstrap-customizations/variables";

.container {
  color: #ffffff;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: $screen-sm-min) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.text {
  height: 100%;
  display: inline-block;
  max-width: calc(100% - 176px);
  font-size: $font-size-small;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-base;
  }
}

.logo {
  display: inline;
  max-width: 158px;
  vertical-align: top;
  margin-left: 18px;
  max-height: 52px;

  @media (min-width: $screen-sm-min) {
    vertical-align: middle;
    max-height: none;
  }
}
