@import "../../theme/variables/colors.css";

.content {
    background-color:  var(--whiteColor);;
    margin: 10px 0 50px 0;
    padding: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .3)
}

.togglePassword {
    border: 0;
    color:  var(--textColor);;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0 20px;
    outline: 0;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;

}
